<%# locals: (user:, size: "sm") -%>

<div class="group <%= local_assigns.fetch(:class, "avatar--#{size}") %>">
  <div class="<%= class_names("avatar", "avatar-placeholder" => !user.avatar.attached?)%>">
    <%= cache user do %>
      <div
        class="<%= class_names("w-12
                                rounded-full
                                group-[.avatar--md]:w-15
                                group-[.avatar--lg]:w-18",
                                "text-base-100 #{avatar_color(user)}" => !user.avatar.attached?) %>">
        <% if user.avatar.attached? %>
            <%= image_tag user.avatar, class: "h-full w-full object-cover" %>
        <% else %>
          <span class="text-xl group-[.avatar--md]:text-3xl group-[.avatar--lg]:text-4xl">
            <%= title_initials(user) %>
          </span> 
        <% end %>
      </div>
    <% end %>
  </div>
</div>
