<div <%= "id=#{id}" if id.present? %> data-controller="combobox" class="form-combobox relative">
  <%= form.label field, class: "input input-bordered flex items-center gap-2", data: { combobox_target: "label" } do %>
    <div data-combobox-target="selectedIcon">
      <div data-attribute="icon-placeholder" class="<%= class_names("avatar placeholder") %>">
        <div class="text-center">
          <%= icon "chart-pie", class: "w-9" %>
        </div>
      </div>

      <div data-attribute="icon" class="<%= class_names("hidden avatar placeholder") %>">
      </div>
    </div>

    <%= form.hidden_field field, autocomplete: "off", data: { combobox_target: "input" } %>

    <div class="w-full flex">
      <%=
        form.text_field("_#{field}",
                        autocomplete: "off",
                        placeholder: placeholder,
                        required: true,
                        class: "flex-1 cursor-pointer caret-transparent",
                        data: { combobox_target: "selected", action: "click->combobox#toggle keydown->combobox#handleKeyDown" }) %>


      <a class="col-start-1 row-start-1 self-center justify-self-end" data-action="click->combobox#toggle">
        <%= icon "chevron-up-down", class: "text-gray-500 size-4" %>
      </a>
    </div>
  <% end %>

  <ul
    data-combobox-target="list"
    style="z-index: 1000"
    class="hidden absolute top-0 left-0 w-full max-h-48 overflow-auto rounded-md bg-white py-1 text-base ring-1 shadow-lg focus:outline-hidden sm:text-sm"
    tabindex="-1"
    role="listbox">

    <% collection.each do |item| %>
      <% cache item do %>
        <li
          data-combobox-target="item"
          data-action="click->combobox#choose"
          class="group relative flex items-center px-3 py-6 cursor-pointer h-8 text-gray-900 select-none hover:bg-indigo-600 hover:text-white hover:outline-hidden"
          id="listbox-option-<%= item.id %>"
          data-id="<%= item.id %>"
          data-title="<%= item.title %>"
          role="option">

          <% if item_block %>
            <%= capture(item, &item_block) %>
          <% else %>
            <span data-attribute="title" class="block truncate select-none font-normal text-md"><%= item.title %></span>
          <% end %>

          <span
            class="hidden absolute inset-y-0 right-0 flex items-center pr-5 text-indigo-600 group-hover:text-white"
            data-attribute="check">
            <%= icon("check", variant: :solid, class: "size-5 stroke-6") %>
          </span>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
