<% content_for :title, "Categories" %>

<div class="index-card md:w-2/4">
  <%= turbo_frame_tag dom_id(Category, :card), class: "index-card-body" do %>
    <div class="index-card-title py-5">
      <%= icon "chart-pie", class: "size-20 md:size-32 hidden" %>Categories
    </div>

    <%= tag.div class: "flex flex-row items-center justify-start md:justify-center" do %>
      <div role="tablist" class="tabs tabs-boxed">
        <%= link_to(categories_path(tab: :expense), data: { turbo_frame: "_top" }, role: "tab", class: class_names("tab", "bg-accent" => @active_tab == "expense")) do %>
          <%= icon "payment-method", class: "mr-1" %>Expense
        <% end %>
        <%= link_to(categories_path(tab: :income), data: { turbo_frame: "_top" }, role: "tab", class: class_names("tab", "bg-primary" => @active_tab == "income")) do %>
          <%= icon "piggy-bank", class: "mr-1" %>Income
        <% end %>
      </div>

      <div class="absolute right-5">
        <%= link_to(new_category_path(tab: @active_tab), data: { turbo_frame: "category_form" }, class: class_names("btn-action", "btn-accent" => @active_tab == "expense", "btn-primary" => @active_tab == "income")) do %>
          <%= icon "plus", class: "stroke-2" %>
          New
        <% end %>
      </div>
    <% end %>

    <%= turbo_frame_tag dom_id(Category, "#{@active_tab}_list"), data: { controller: "sorted" }, class: "flex flex-col w-full pt-0 px-1 md:px-5 py-5" do %>
      <% cache @categories do %>
        <% @categories.each do |category| %>
          <%= render "categories/category", category: category %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <%= turbo_frame_tag("category_form") do %>
  <% end %>
</div>
