<div id="form-category-id-combobox" data-controller="combobox" class="form-combobox relative">
  <%= form.label field, class: "input input-bordered flex items-center gap-2", data: { combobox_target: "label" } do %>
    <div data-combobox-target="selectedIcon">
      <div data-attribute="icon-placeholder" class="<%= class_names("avatar placeholder") %>">
        <div class="text-center">
          <%= icon "chart-pie", class: "w-9" %>
        </div>
      </div>

      <div data-attribute="icon" class="<%= class_names("hidden avatar placeholder") %>">
      </div>
    </div>

    <%= form.hidden_field field, data: { combobox_target: "input" } %>

    <div class="w-full flex">
      <%=
        form.text_field("_#{field}",
                        placeholder: _("Select a category"),
                        required: true,
                        class: "flex-1 cursor-pointer caret-transparent",
                        data: { combobox_target: "selected", action: "click->combobox#toggle keydown->combobox#handleKeyDown" }) %>


      <a class="col-start-1 row-start-1 self-center justify-self-end" data-action="click->combobox#toggle">
        <%= icon "chevron-up-down", class: "text-gray-500 size-4" %>
      </a>
    </div>
  <% end %>

  <ul
    data-combobox-target="list"
    style="z-index: 1000"
    class="hidden absolute top-0 left-0 w-full max-h-48 overflow-auto rounded-md bg-white py-1 text-base ring-1 shadow-lg focus:outline-hidden sm:text-sm"
    tabindex="-1"
    role="listbox">

    <% collection.each do |item| %>
      <%= render_combobox_item(item) do %>
        <div data-attribute="item-label" class="flex items-center px-3">
          <div data-attribute="icon" class="avatar placeholder">
            <div class="<%= category_color(item) %> text-center text-white rounded-full w-9">
              <%= category_icon(item, variant: :solid, class: "fill-white size-4") %>
            </div>
          </div>

          <span data-attribute="title" class="ml-2 block truncate select-none font-normal"><%= item.title %></span>
        </div>
      <% end %>
    <% end %>
  </ul>
</div>
