<%# locals: (transaction:) -%>

<div class="card-body items-stretch px-1 py-1">
  <h1 class="card-title justify-center mb-2">
    <% if transaction.persisted? %>
      <%= "Edit #{transaction.model_name.human}" %>
    <% else %>
      <%= "New #{transaction.model_name.human}" %>
    <% end %>
  </h1>

  <% if transaction.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with(id: "transaction_form", model: transaction) do |form| %>
    <div class="flex flex-col gap-4">
      <%= form.label :value, class: "input input-bordered flex items-center gap-2", data: { controller: "money-input" } do %>
        <%= icon "banknotes" %>

        <%= form.text_field :value, inputmode: "numeric", maxlength: "21", required: true, placeholder: "Value", class: "grow font-semibold text-lg text-right", data: { "money-input-target": "input", action: "input->money-input#handleFormat focus->money-input#handleFocus click->money-input#handleFocus" } %>
      <% end %>

      <%= form.label :title, class: "input input-bordered flex items-center gap-2" do %>
        <%= icon "pencil" %>
        <%= form.text_field :title, placeholder: _("Description"), required: true, class: "grow" %>
      <% end %>

      <%= form.label :category_id, class: "input input-bordered flex items-center gap-2" do %>
        <%= icon "chart-pie" %>
        <%= form.select(:category_id, options_from_collection_for_select(Category.expense.order(:title), :id, :title, transaction.category_id), { prompt: _("Select an account" )}, { required: true, class: "grow w-full max-w-xs" }) %>
      <% end %>

      <%= form.label :account_id, class: "input input-bordered flex items-center gap-2" do %>
        <%= icon "credit-card" %>
        <%= form.select(:account_id, options_from_collection_for_select(Account.order(:title), :id, :title, transaction.account_id), { prompt: "Select an account" }, { required: true, class: "grow w-full max-w-xs" }) %>
      <% end %>

      <div class="flex gap-1">
        <%= form.label :due_on, class: "input input-bordered flex items-center gap-2 indicator w-full" do %>
          <span class="indicator-item indicator-center badge">Due date</span>
          <%= icon "calendar-days" %>
          <%= form.date_field :due_on, placeholder: "Due On", required: true, class: "grow" %>
        <% end %>

        <%= form.label :paid, class: "input flex-1 w-full swap swap-rotate input-ghost" do %>
          <%= form.check_box :paid, checked: transaction.paid? %>
          <%= icon "hand-thumb-up", class: "swap-on w-8 h-8 size-6 text-emerald-500" %>
          <%= icon "hand-thumb-down", class: "swap-off w-8 h-8 size-6 text-red-500" %>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="card-actions flex justify-center items-center mt-2 relative">
    <%= button_tag(
      type: "submit",
      form: "transaction_form",
      class: "btn-submit",
    ) do %>
      <%= icon "check", class: "stroke-4" %>
    <% end %>

    <% if transaction.persisted? %>
      <%= button_to(
        transaction.becomes(Transaction),
        method: :delete,
        class: "btn btn-sm h-11 w-11 btn-error btn-circle btn-outline transition ease-in-out hover:scale-125 duration-300",
        form_class: "absolute inset-y-0 right-0 flex items-center",
        data: { turbo_method: :delete }
      ) do %>
        <%= icon "trash" %>
      <% end %>
    <% end %>
  </div>
</div>
