<%# locals: (transaction:) -%>

<div
  data-controller="transactions--dialog"
  data-transactions--dialog-combobox-outlet=".form-combobox">
  <dialog class="modal modal-bottom sm:modal-middle backdrop:opacity-20" data-transactions--dialog-target="modal">
    <div class="modal-box shadow-2xl sm:max-w-[25rem] backface-hidden duration-700 category-gradient--expense">
      <button data-action="click->transactions--dialog#close" class="btn btn-md btn-circle btn-ghost absolute font-bold right-2 top-2 text-lg">✕</button>

      <div class="card-body items-stretch px-1 py-1">
        <h1 class="card-title justify-center mb-2">
          <% if transaction.persisted? %>
            <%= "Edit #{transaction.model_name.human}" %>
          <% else %>
            <%= "New #{transaction.model_name.human}" %>
          <% end %>
        </h1>

        <% if transaction.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

            <ul>
              <% transaction.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= form_with(id: "transaction_form", model: transaction) do |form| %>
          <div class="flex flex-col gap-4">
            <%= form.label :value, class: "input input-bordered flex items-center gap-2", data: { controller: "money-input" } do %>
              <%= icon "banknotes", class: "w-9" %>

              <%= form.text_field(
                :value,
                inputmode: "numeric",
                maxlength: "21",
                required: true,
                placeholder: "Value",
                class: "grow font-semibold text-lg text-right",
                data: {
                  "money-input-target": "input",
                  action: "input->money-input#handleFormat focus->money-input#handleFocus click->money-input#handleFocus"
                }
              ) %>
            <% end %>

            <%= transaction_title_autocomplete(form, :title) %>

            <%= transaction_category_combobox(form, :category_id, collection: Category.expense.order(:title)) %>

            <%= transaction_account_combobox(form, :account_id, collection: Account.order(:title)) %>

            <div class="flex gap-1">
              <%= form.label :due_on, class: "input input-bordered flex items-center gap-2 indicator w-full" do %>
                <span class="indicator-item indicator-center badge">Due date</span>
                <%= icon "calendar-days", class: "w-9" %>
                <%= form.date_field :due_on, placeholder: "Due On", required: true, class: "grow" %>
              <% end %>

              <%= form.label :paid, class: "input flex-1 w-full swap swap-rotate input-ghost" do %>
                <%= form.check_box :paid, checked: transaction.paid? %>
                <%= icon "hand-thumb-up", class: "swap-on w-8 h-8 size-6 text-emerald-500" %>
                <%= icon "hand-thumb-down", class: "swap-off w-8 h-8 size-6 text-red-500" %>
              <% end %>
            </div>
          </div>
        <% end %>

        <div class="card-actions flex justify-center items-center mt-2 relative">
          <%= button_tag(
            type: "submit",
            form: "transaction_form",
            class: "btn-submit",
          ) do %>
            <%= icon "check", class: "stroke-4" %>
          <% end %>

          <% if transaction.persisted? %>
            <%= button_to(
              transaction.becomes(Transaction),
              method: :delete,
              class: "btn btn-sm h-11 w-11 btn-error btn-circle btn-outline transition ease-in-out hover:scale-125 duration-300",
              form_class: "absolute inset-y-0 right-0 flex items-center",
              data: { turbo_method: :delete }
            ) do %>
              <%= icon "trash" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </dialog>
</div>
