<div id="<%= dom_id transaction %>">
  <p>
    <strong>Title:</strong>
    <%= transaction.title %>
  </p>

  <p>
    <strong>Due on:</strong>
    <%= transaction.due_on %>
  </p>

  <p>
    <strong>Paid at:</strong>
    <%= transaction.paid_at %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= transaction.category_id %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= transaction.account_id %>
  </p>

</div>
