<%# locals: (transaction:) -%>

<%= link_to polymorphic_path(transaction, action: :edit), data: { turbo_frame: "_top" }, class: "block" do %>
  <article id="<%= dom_id transaction %>" class="flex hover:bg-gray-100 py-1 px-2 rounded-2xl">
    <div class="grow py-1 text-sm font-medium text-gray-800">
      <div class="flex-shrink-0 group block">
        <div class="flex items-center">
          <div class="relative">
            <% cache transaction.category do %>
              <%= render "categories/icon", category: transaction.category, size: "md" %>
            <% end %>
          </div>
          <div class="ms-3">
            <h3 class="font-semibold text-gray-800">
              <%= transaction.title %>
            </h3>
            <p class="text-sm font-medium text-gray-400">
            <%= transaction.category.title %>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="px-6 py-4 whitespace-nowrap font-medium text-center">
      <span class="text-right font-semibold text-md <%= class_names("text-emerald-500" => false, "text-red-600" => true) %>"><%= "-" %><%= humanized_money_with_symbol(transaction.value) %></span>
    </div>
  </article>
<% end %>
