<div id="<%= dom_id(Transaction, :autocomplete_results) %>">
  <% @transactions.each do |transaction| %>
    <li
      data-autocomplete-target="item"
      data-action="click->autocomplete#choose"
      class="group relative cursor-pointer py-1 text-gray-900 select-none hover:bg-indigo-600 hover:text-white hover:outline-hidden"
      id="listbox-option-<%= transaction.id %>"
      data-id="<%= transaction.id %>"
      data-title="<%= transaction.title %>"
      role="option"
    >
      <div data-attribute="item-label" class="flex items-center px-3">
        <span data-attribute="title" class="ml-2 block truncate select-none font-normal">
          <%= transaction.title %>
        </span>
      </div>
    </li>
  <% end %>
</div>
