<% content_for :title, "My Profile" %>

<div class="flex flex-row justify-center mb-4">
  <%= link_to(settings_path, class: "btn btn-info btn-outline font-bold text-lg") do %>
    <%= icon("arrow-left", variant: :solid) %>
    Account & Settings
  <% end %>
</div>

<div class="index-card md:w-2/4">
  <div class="index-card-body px-12">
    <div class="flex w-full flex-col items-center border-opacity-50 mt-10 gap-2">
      <div class="">
        <%= render "users/avatar", class: "avatar--lg" %> 
      </div>
      <div class="">
        <%= form_with(
          model: Current.user,
          url: avatar_path,
          method: :post,
          multipart: true,
          class: "flex flex-col items-center group",
          data: {
            controller: "upload-button",
            upload_button_submitting_class: "is-submitting",
          },
        ) do |f| %>
          <%= f.label(
            :avatar,
            class: "btn btn-md btn-secondary",
            data: { upload_button_target: "button", action: "click->upload-button#click" }
          ) do %>
            <span class="hidden group-[.is-submitting]:block loading loading-spinner"></span>
            <%= icon "arrow-up-tray", class: "font-semibold block group-[.is-submitting]:hidden" %> <%= _("Upload Photo") %> 
            <%= f.file_field(
              :avatar,
              class: "hidden",
              id: "avatar-upload",
              accept: "image/*",
              direct_upload: true,
              data: { upload_button_target: "input", action: "change->upload-button#submit" }
            ) %>
          <% end %>
        <% end %>
      </div>

      <% if Current.user.avatar.attached? %>
        <%= link_to(
          "Remove photo and only show initials",
          avatar_path,
          class: "link link-info font-semibold",
          data: { turbo_method: :delete }
        ) %>
      <% end %>

      <%= form_with(
        id: "profile_form",
        model: Current.user,
        url: profile_path,
        method: :patch,
        class: "mt-4 w-full"
      ) do |f| %>

        <%= f.label(
          :name,
          class: "input input-xl flex items-center gap-2 text-xl w-full",
        ) do %>
          <%= icon "user", class: "ml-2 size-7 h-[1em] opacity-50" %>

          <%= f.text_field(
            :name,
            required: true,
            placeholder: "Your Name",
            class: "grow",
          ) %>
        <% end %>

      <% end %>

      <div class="card-actions flex justify-center items-center mt-2 relative">
        <%= button_tag(
          type: "submit",
          form: "profile_form",
          class: "btn btn-lg btn-success btn-circle",
        ) do %>
          <%= icon "check", class: "stroke-4" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
