<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Din Din" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="config-environment" content="<%= Rails.env %>">
    <meta name="config-locale" content="<%= I18n.locale %>">
    <meta name="config-timezone" content="<%= Time.zone.name %>">

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="bg-slate-50 min-h-screen">
    <div class="container mx-auto">
      <div class="flex flex-col gap-2 items-center justify-center">
        <%= render "shared/navbar" %>
        <%= render "shared/notifications" %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
